/ - Page Title -/
- content_for(:title, 'Home')

/ - Breadcrumb Nav -/
%nav.breadcrumbs
  .medium-6.small-3.columns
  %a{ href: events_path } Home

/ - Photo Grid -/
.top-section
  .row
    - @photos.each do |f| 
      .medium-6.large-3.columns
        %h5 
          = f.photo_name
        %img.th{ src: f.image }
        %p
        %a.expand.small.secondary.button{ href: photo_path(f) } View Photo