/ - Page Title -/
- content_for(:title, 'Home')

/ - Breadcrumb Nav -/
%nav.breadcrumbs
  .medium-6.small-3.columns
  %a{ href: events_path } Home

/ - Photo Grid -/
.top-section
  .row
    - if !@photos.exists?
      .medium-6.medium-centered.columns
        %h4.text-center No photos? Click Below to get started!
        %p
        %a.expand.large.success.button{ href: "/photos/new" } Upload Your Photos!

    - else
      - @photos.each do |f| 
        .small-12.medium-6.large-4.columns
          %h5 
            = f.photo_name
          %img.th{ src: f.image }
          %p
          %a.expand.small.secondary.button{ href: photo_path(f) } View Photo
          = link_to 'Delete Photo', photo_path(f), method: :delete, class: "expand small alert button" 